<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <script src="angular.js"></script>
</head>
<body>
    <h2> Student <Details></Details></h2>
    student Name  :
    <input type="text"> ng-model="Name"
    CGPA : 
    <input type="number"> <ng-model>"CGPA"</ng-model>
    <button ng-click="addstudent()"

    <input type="number" ng-model="inputNumber">
<button ng-click="calculatefact()">calculate Fact</button>
<button ng-click="calculateSquare()">calculateSquare</button>

<p ng-show="Fact result != undefined">factorial result : {{factREsult}}</p>
<p ng-show="squareResult != undefined">square result : {{squareREsult}}</p>
</body>
</body>
</html>